* {
    margin: 0; /* отступ строк */
    padding: 0; /* отступ рамки от текста внутри */
}

#p1 {
    color: blueviolet; /* цвет текста */
    font-size: 30px; /* размер толщины текста */
    background-color: bisque;  /* меняетцвет заднего фона */
    padding: 20px 20px; /* отступ от текста между/от рамкой и элимента */
    margin: 10px 10px;  /* отступ от рамки/текста от элимента */
    border: 3px solid black; /* размер толщины рамки */
    width: 550px; /* ширина элимента */
}

.p2 {
    
}

.p3 { 

}

/*span {
    color: black; 
} */