.about_us_card {
    padding: 30px 108px 40px 40px;
    background-color: #EBEBEB;
}

.about_us_card:last-child{
    background-color: #005FA3;
    color: #EBEBEB;
}

.card_value{
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 30px;
}

.card_title {
    font-size: 18px;
    margin-bottom: 47px;

}

.card_link {
    font-size: 14px;
    color: #005FA3;
}


