* {
    padding: 0;
    margin: 0;
}

.form {
    border: 1px solid gray; /* толщина рамки */
    border-radius: 20px; /* Закругление */
    width: 350px;   /* ширина */
    padding: 20px;
    margin: 20px;

    display: flex;  /* включили выравнивание */
    flex-direction: column; /* в столбик */
    justify-content: center; /* выровнили право лево */
    align-items: center; /* выровнили горизонт вертикаль */

    font-family: Arial, Helvetica, sans-serif;  /* zamena shrifta dlja vsex shriftov  */
    position: relative;
}

.form_title {
    width: 100%;    /* ширина */
    margin: 15px 0; /* otstup ot drugix objekt*/
    padding-left: 10px;
}

.form_input {
    width: 315px;
    margin: 2px 0;
    padding: 14px 16px; /* po chasovoi */

    border: 1px solid #CFD8DC;
    border-radius: 12px;
}

.form_input:focus { /* psevdoklass dla zweta ramki */
    outline: none;  /* otkluchenie stand.zweta ramki */
    border-color: rgba(238, 238, 20, 0.841);
}

.form_btn {
    width: 100%;
    margin: 2px 0;
    border-radius: 55px; 
    padding: 14px 24px; /* tolshina knopki */
    font-weight: bold;
    font-size: 14px;
}

.form_info_text{
    margin: 15px 0;
    color: gray;
    font-size: 13px;
    /* padding-left: 10px; */
    text-align: end;
}

.submit_btn{
    background-color: rgba(238, 238, 20, 0.841);
    border: 1px solid transparent;
}

.redirecy_btn{
    background: white;
    border: 1px solid #CFD8DC;
}

.form_cross{
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}